body {
    background-color: #1F363D;
}
.btn {
    background-color: #0E5E6F;
    border: none;
    color: white !important;
}
.btn:hover {
    background-color:#3A8891;
    color: white !important;
}

.btn:active {
    background-color:#3A8891 !important;
    color: white !important;
}

a {
    color: #1976d2 !important ;
    text-decoration: none !important;
    font-weight: bold !important;
} 

.navbar-brand {
    color: white !important;
}
.navbar-expand-lg .navbar-nav .nav-link {
    color: white !important;
}