body {
    background-color: #1F363D;
}
.btn {
    background-color: #0E5E6F;
    border: none;
    color: white
}
.btn:hover {
    background-color:#3A8891;
    color: white;
}

.btn:active {
    background-color:#3A8891 !important;
    color: white !important;
}
