.status-zaduženo  {
    color: darkGreen !important;
    font-weight: bold !important;
  }
  
  .status-razduženo {
  color: darkgoldenrod !important;
  font-weight: bold !important;
  }
  
  .status-otpisano {
  color: darkRed !important;
  font-weight: bold !important;
  }