  
  .important-button {
    sx: small o !important;
  }
  .important-button:hover {
    background-color: transparent !important;
    color: black !important;
  }

  .important-button:active {
    background-color: transparent !important;
    color: black !important;
  }

  .important-button{
    background-color: transparent !important;
    color: black !important;
  }

  .important-button::after {
    background-color: transparent;
    color: black !important;
  }

  .search-box-modal {
      width: 100%;
      display: flex;
      justify-content: center;
  }

  .status-zaduženo  {
    color: darkGreen !important;
    font-weight: bold !important;
  }
  
  .status-razduženo {
  color: darkgoldenrod !important;
  font-weight: bold !important;
  }
  
  .status-otpisano {
  color: darkRed !important;
  font-weight: bold !important;
  }

  .btns {
    background-color: transparent !important;
  }

  .btns:active{
    background-color: transparent !important;
  }