@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #27272a;
  color: white;
  border-radius: 15px;
}

.user-container .details { 
  margin-top: 20px;
  margin-bottom: 20px;
}

.user-container .ikonica {
  font-size: 80px;
  height: 150px;
  width: 150px;
}

.user-container .activity-status {
  font-size: 12px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}
