@tailwind base;
@tailwind components;
@tailwind utilities;

.sticky-header {
    padding: 0px 7px !important;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    border-bottom: 1px solid #424242;
  }

  .sticky-header.scrolled {
    background: rgba(0, 0, 0, 0.8);
  }

  .ant-modal-root .ant-modal-mask {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }

  .ant-tag {
    border-radius: 12px;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .background-light {
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
}

.background-dark {
    background: radial-gradient(circle, #222831, #121212);
}

.background-animated {
    animation: bgAnimation 10s infinite alternate ease-in-out;
}

@keyframes bgAnimation {
    0% {
        background-size: 100% 100%;
    }
    100% {
        background-size: 120% 120%;
    }
}
