/* Za md i xs ekrane, postavi min-width na auto */
@media (max-width: 991.98px) {
    .nav-link.active {
      min-width: auto !important;
    }
    .nav{
        flex-wrap: nowrap !important;
        overflow-x: auto !important;
    }
    
    .card-radius-container {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
  }
  
  /* Za lg ekrane, postavi min-width na minimalno 150px */
  @media (min-width: 992px) {
    /* .nav-link.active {
      min-width: 200px !important;
    } */
    .nav {
        display: flex;
        flex-direction: column;
    }
    .card-radius-container {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
  }
  
  /* Ostali stilovi za .nav-link.active */
  .nav-link.active {
    background-color: #537188 !important; 
    color: white !important;
  }

  .nav {
    white-space: nowrap !important;
    scrollbar-width: none !important; /* Firefox */
    -ms-overflow-style: none !important; /* Internet Explorer 11 */
  }

  .user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3B5360;
    color: white;
  }

  .user-container .details {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .user-container .avatar {
    font-size: 80px;
    height: 150px;
    width: 150px;
  }

  .user-container .activity-status {
    font-size: 12px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
  }

